<nav class="nav-main block-container">
    <p class="nav-brand"><%= title %></p>
    <% if(showBtn) { %>
        <% const url = showBtn === 'created' ? '/app/create-task' : '/app/' %>
        <a href="<%= url %>" class="btn <%= showBtn !== 'close' ? 'bg-primary' : 'bg-secondary' %>">
            <i class="cross-icon <%= showBtn === 'close' ? 'cross-close' : '' %>"></i>
        </a>
    <% } %>
</nav>