<nav class="nav-main block-container">
    <p class="nav-brand"><%= title %></p>
    <% const isLoad = action === 'load' ? true : false %>
    <a href="<%= isLoad ? '/app/create-task' : '/app/' %>" class="btn <%= isLoad ? 'bg-primary' : 'bg-secondary' %>">
        <img class="icon <%= isLoad ? '' : 'close' %>" src="/static/img/icon-plus.png" alt="plus">
    </a>
</nav>