:root {
    --primary-color: #0069D9;
    --primary-color-dark: #0056b3;
    --secondary-color: #dc3545;
    --gray-color: #f0f0f0;
    --gray-color-dark: #cccccc;
    --box-shadow: 0px 2px 8px 0px rgba(99, 99, 99, 0.2);
    --background-primary: "";
    --background-secondary: "";
    --custom-width: "";
    --custom-height: "";
    --custom-color: "";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-container {
    width: 100%;
    height: 100%;
    background: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 35%;
    height: 95%;
    display: flex;
    flex-direction: column;
}

.main-content {
    width: 100%;
    height: calc(100% - 100px);
}

.block-container {
    border-radius: 5px;
    background: #ffffff;
    margin-bottom: 15px;
    box-shadow: var(--box-shadow);
}

.block-container:nth-last-child(1) {
    margin-bottom: 0;
}

.bg-primary {
    --background-primary: var(--primary-color);
    --background-secondary: var(--primary-color-dark);
    --custom-color: #ffffff;
    --custom-width: 40px; 
    --custom-height: 40px;
}

.bg-secondary {
    --background-primary: var(--secondary-color);
    --background-secondary: var(--secondary-color-dark);
    --custom-width: 30px; 
    --custom-height: 30px;
}

.btn {
    width: var(--custom-width);
    height: var(--custom-height);
    color: var(--custom-color);
    border-radius: 50%;
    background: var(--background-primary);
    border: none;
    outline: none;
    font-size: 0.9em;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: all 0.4s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    line-height: 6px;
}

/* .btn:hover {
    transform: scale(1.1);
} */

.btn::after {
    content: "";
    width: 100%;
    height: 100%;
    background: var(--background-secondary);
    position: absolute;
    top: 0;
    left: -100%;
    z-index: -1;
    transition: all 0.4s ease;
}

.btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.btn:hover::after {
    left: 0;
}

/* Header */

.nav-main {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}

.nav-brand {
    display: inline-block;
    font-size: 1.4em;
    color: var(--primary-color);
    text-decoration: none;
    position: relative;
    z-index: 1;
}

.nav-brand::after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    bottom: -10%;
    left: 0;
    background: var(--primary-color);
    z-index: -1;
    transition: all 0.4s ease;
}

.nav-brand:hover::after {
    width: 100%;
}


/* Main Styles */

.task-container {
    width: 100%;
    height: auto;
    overflow-y: auto;
}

.task-card {
    box-shadow: var(--box-shadow);
    margin-bottom: 5px;
    max-height: 60px;
    overflow: hidden;
    transition: all 0.5s ease;
    padding: 0 15px 15px 15px;
}

.task-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.task-header h2 {
    font-size: 0.9em;
    color: var(--secondary-color);
    text-transform: uppercase;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.points-container {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;    
    position: relative;
    background: #f0f0f0;
    border-radius: 50%;
}

.points-container:hover {
    cursor: pointer;
}

.points-icon {
    width: 5px;
    height: 5px;
    background: #00000060;
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
}

.points-icon::before, .points-icon::after {
    content: "";
    width: 5px;
    height: 5px;
    background: #00000060;
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
}

.points-icon::before {
    right: 8px;
}

.points-icon::after {
    right: -8px;
}

.task-body {
    text-align: justify;
}

.task-body p {
    padding: 2px 2px 10px 2px;
    font-size: 0.9em;
}

.task-footer {
    display: flex;
    padding: 10px;
    justify-content: flex-end;
}

.task-footer button {
    border: none;
    padding: 10px;
}

.task-completed {
    text-decoration: line-through;
}

/* Task Form */

.task-form {
    width: 70%;
    margin: 0 auto;
    padding: 50px 20px;
}

.task-form input, textarea {
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

/* Footer */

.footer {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
}

.footer-text {
    font-size: 0.9em;
    color: var(--primary-color);
}

/* Error Page */

.error-container {
    width: 100%;
    text-align: center;
}

.error-title {
    font-size: 15em;
    font-weight: 100;
    padding-top: 40px;
    position: relative;
    animation: appear 0.5s ease 0.2s normal forwards;
    opacity: 0;
}

.error-message {
    font-size: 2.5em;
    font-weight: 100;
    margin-top: 20px;
    position: relative;
    animation: appear 0.4s ease 0.5s normal forwards;
    opacity: 0;
}

@keyframes appear {
    from {
        transform: translateY(-100%);
    } to {
        transform: translateY(0);
        opacity: 1;
    }
}