:root {
    --primary-color: #0069D9;
    --primary-color-dark: #0056b3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    font-family: sans-serif;
    background: #f0f0f0;
}

.container {
    width: 40%;
    height: 100%;
    margin: 0 auto;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 10px rgb(0, 0, 0, 0.5);
    background: #ffffff;
}


/* Header */
.nav-main {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-brand {
    display: inline-block;
    font-size: 1.6em;
    color: var(--primary-color);
    text-decoration: none;
    position: relative;
    z-index: 1;
}

.nav-brand::after {
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -10%;
    left: 0;
    background: var(--primary-color);
    z-index: -1;
    transition: all 0.4s ease;
}

.nav-brand:hover::after {
    width: 100%;
}

/* Main Styles */

.btn {
    padding: 12px;
    background: var(--primary-color);
    color: #ffffff;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 0.9em;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.btn::after {
    content: "";
    width: 100%;
    height: 100%;
    background: var(--primary-color-dark);
    position: absolute;
    top: 0;
    left: -100%;
    z-index: -1;
    transition: all 0.4s ease;
}

.btn:hover::after {
    left: 0;
}

.main-content {
    width: 100%;
    height: calc(100% - 100px);
    padding: 10px 0 20px 0;
    overflow-y: auto;
}

.task-container {
    width: 100%;
    height: auto;
}


/* Task Form */

.task-form {
    width: 70%;
    margin: 0 auto;
    padding: 50px 20px;
}

.task-form input, textarea {
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

/* Footer */

.footer {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    font-size: 1.2em;
}

/* Error Page */

.error-container {
    width: 100%;
    text-align: center;
}

.error-title {
    font-size: 15em;
    font-weight: 100;
    padding-top: 40px;
    position: relative;
    animation: appear 0.5s ease 0.2s normal forwards;
    opacity: 0;
}

.error-message {
    font-size: 2.5em;
    font-weight: 100;
    margin-top: 20px;
    position: relative;
    animation: appear 0.4s ease 0.5s normal forwards;
    opacity: 0;
}

@keyframes appear {
    from {
        transform: translateY(-100%);
    } to {
        transform: translateY(0);
        opacity: 1;
    }
}