:root {
    --primary-color: #0069D9;
    --primary-color-dark: #0056b3;
    --secondary-color: #dc3545;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    font-family: sans-serif;
    background: #f0f0f0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    width: 40%;
    height: 100%;
    margin: 0 auto;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 10px rgb(0, 0, 0, 0.5);
    background: #ffffff;
}

.btn {
    padding: 10px;
    background: var(--primary-color);
    color: #ffffff;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 0.9em;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.btn::after {
    content: "";
    width: 100%;
    height: 100%;
    background: var(--primary-color-dark);
    position: absolute;
    top: 0;
    left: -100%;
    z-index: -1;
    transition: all 0.4s ease;
}

.btn:hover {
    cursor: pointer;
}

.btn:hover::after {
    left: 0;
}

/* Header */

.nav-main {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-brand {
    display: inline-block;
    font-size: 1.4em;
    color: var(--primary-color);
    text-decoration: none;
    position: relative;
    z-index: 1;
}

.nav-brand::after {
    content: '';
    width: 0;
    height: 2px;
    position: absolute;
    bottom: -10%;
    left: 0;
    background: var(--primary-color);
    z-index: -1;
    transition: all 0.4s ease;
}

.nav-brand:hover::after {
    width: 100%;
}

.nav-main .btn {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 1.2em;
    text-align: center;
    line-height: 50px;
    padding: 0;
}

/* Main Styles */

.main-content {
    width: 100%;
    height: calc(100% - 100px);
    padding: 10px 0 20px 0;
}

.task-container {
    width: 100%;
    height: auto;
}

.task-card {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin-bottom: 10px;
    max-height: 42px;
    overflow: hidden;
    transition: all 0.5s ease;
}

.task-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 42px;
    padding: 10px;
}

.task-header h2 {
    font-size: 0.9em;
    color: var(--secondary-color);
    text-transform: uppercase;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.points-container {
    display: flex;
    align-items: center;
    padding: 10px 11px;
    position: relative;
}

.points-container:hover {
    cursor: pointer;
}

.points-icon {
    width: 5px;
    height: 5px;
    background: #00000060;
    border-radius: 50%;
    position: absolute;
    right: 0;
    pointer-events: none;
}

.points-icon::before, .points-icon::after {
    content: "";
    width: 5px;
    height: 5px;
    background: #00000060;
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
}

.points-icon::before {
    right: 8px;
}

.points-icon::after {
    right: 16px;
}

.task-body {
    padding: 10px;
    text-align: justify;
}

.task-body p {
    padding: 2px;
    font-size: 0.9em;
}

.task-footer {
    display: flex;
    padding: 10px;
    justify-content: flex-end;
}

.task-footer button {
    border: none;
    padding: 10px;
}

.task-completed {
    text-decoration: line-through;
}

/* Task Form */

.task-form {
    width: 70%;
    margin: 0 auto;
    padding: 50px 20px;
}

.task-form input, textarea {
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

/* Footer */

.footer {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #9c9c9c;
}

.footer-text {
    font-size: 0.9em;
    margin-top: 8px;
}

/* Error Page */

.error-container {
    width: 100%;
    text-align: center;
}

.error-title {
    font-size: 15em;
    font-weight: 100;
    padding-top: 40px;
    position: relative;
    animation: appear 0.5s ease 0.2s normal forwards;
    opacity: 0;
}

.error-message {
    font-size: 2.5em;
    font-weight: 100;
    margin-top: 20px;
    position: relative;
    animation: appear 0.4s ease 0.5s normal forwards;
    opacity: 0;
}

@keyframes appear {
    from {
        transform: translateY(-100%);
    } to {
        transform: translateY(0);
        opacity: 1;
    }
}