<section>
    <form action="" method="POST" class="task-form">
        <label for="task-title">Task Title:</label>
        <input type="text" name="task-title" id="task-title">
        <label for="task-description">Description:</label>
        <textarea name="task-description" id="task-description"></textarea>
        <input type="submit" value="Create">
    </form>
</section>