<section class="task-container">
    <% payload.forEach((item) => { %>
        <div class="task-card">
            <div class="task-header">
                <h2 class="<%= item.state === 'C' ? 'task-completed' : '' %>" ><%= item.title %></h2>
                <div class="points-container" id="points-btn">
                    <i class="points-icon"></i>
                </div>
            </div>
            <div class="task-body">
                <p class="<%= item.state === 'C' ? 'task-completed' : '' %>"><%= item.description %></p>
            </div>
        </div>
    <% }) %>
</section>